.conatainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 680px;
    margin-top: 50px;
}

.here {
    font-size: 25px;
}

.scored {
    font-size: 20px;
}

p {
    margin: 15px;
    color: #f0f6fc;
    font-family: 'Oswald', sans-serif;
}

img {
    max-width: 700px;
    max-height: 600px;
    min-width: 200px;
    min-height: 100px;
}