header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.conatainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 50px;
}