header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

hr {
    width: 100%;
}

h1 {
    color: #f0f6fc;
    font-family: 'Oswald', sans-serif;
}

a {
    display: flex;
    justify-content: center;

    text-decoration: none;
    color: #f0f6fc;
    background-color: rgb(82, 82, 82);

    border-radius: 5px;
    padding: 10px;

    width: 120px;
    margin-bottom: 7px;
}

.myList {
    display: flex;
    justify-content: center;
}