.fixSkirting  {
    bottom: 0;
    position: fixed;

    padding: 25px;
}

footer {
    color: #f0f6fc;
    font-family: 'Oswald', sans-serif;
}

#Footer {
    display: flex;
    align-items: center;
    justify-content: center;
}